h1 {
  display: flex;
  font-family: fantasy;
  text-align: center;
  justify-content: center;
  background-color: blush;
  color: rgb(220, 22, 81);
  font-size: 3rem;
}
body{
  /* display: flex; */
  /* text-align:center;
  justify-content:space-around; */
}
nav{
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-family: fantasy;
}

ul{
  height: 100vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  font-family: fantasy;
  flex-wrap: wrap;
  row-gap: 40px;
  list-style-type: none;

}

li{
  border: 1px solid hotpink;
  margin-left: 1em;
  margin-right: 1em;
  width: 15em;
  border-radius: 10px;
}


img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7em;
    height: 10em;
}
